
  <!-- ----------------------------------------------------------------------------------------- -->
  <div>
    <label for="name">Name</label>
    <input
      type="text"
      (input)="onInputChange($event.target.value)"
      id="name"

      class="form-control"
    />
  </div>
  <hr>
  <button class="btn btn-primary" (click)="submitVal()">Submit</button>

<!-- ------------------------------------------------------------------------------------------- -->

<table class="table" *ngIf="data" class="styled-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">category</th>
      <th scope="col">Lable</th>
      <th scope="col">Nutrients</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let val of arr1; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{ val.category }}</td>
      <td>{{ val.label }}</td>
      <td>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">ChocDF</th>
            <th scope="col">Energy Kcal</th>
            <th scope="col">Fat</th>
            <th scope="col">Fiber</th>
            <th scope="col">Protien</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ val.nutrients.CHODF ? (val.nutrients.CHOCDF.toFixed(3) ? val.nutrients.CHOCDF.toFixed(3) : 0.000) : 0.000}}</td>
            <td>{{ val.nutrients.ENERC_KCAL ? (val.nutrients.ENERC_KCAL.toFixed(3) ? val.nutrients.ENERC_KCAL.toFixed(3) : 0.000) : 0.000 }}</td>
            <td>{{ val.nutrients.FAT ? (val.nutrients.FAT.toFixed(3) ? val.nutrients.FAT.toFixed(3) : 0.000)  : 0.000 }}</td>
            <td>{{ val.nutrients.FIBTG ? (val.nutrients.FIBTG.toFixed(3) ? val.nutrients.FIBTG.toFixed(3) : 0.000) : 0.000 }}</td>
            <td>{{val.nutrients.PROCNT  ?  (val.nutrients.PROCNT.toFixed(3) ? val.nutrients.PROCNT.toFixed(3) : 0.000) : 0.000 }}</td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
  </tbody>
</table>
<!-- *ngFor="let item of data; index as i" -->
